<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="headup">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    *{
        font-family: 'Noto Sans KR', sans-serif;
    }
    </style>
</head>

<body>
    <header th:fragment="head"
            class="d-flex
                  flex-wrap
                  align-items-center
                  justify-content-center
                  justify-content-md-between">
        <a th:href="@{/}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img th:src="@{/images/daesogal.png}" class="m-2" width="120" height="32" role="img" aria-label="Bootstrap"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/board/list}" class="nav-link px-2 link-dark">자유게시판</a></li>
            <li><a th:href="@{/video/list}" class="nav-link px-2 link-dark">동영상</a></li>
            <li><a th:href="@{/photo/list}" class="nav-link px-2 link-dark">포토</a></li>
            <li><a href="" class="nav-link px-2 link-dark">토론</a></li>
        </ul>

        <div class="text-end m-3">
            <a th:href="@{/login}" sec:authorize="isAnonymous()" type="button" class="btn btn-outline-primary">
                로그인
            </a>
            <a th:href="@{/members/logout}" sec:authorize="isAuthenticated()" type="button"
               class="btn btn-outline-primary">
                로그아웃
            </a>
            <a sec:authorize="isAnonymous()" type="button" class="btn btn-primary">회원가입</a>
            <a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary">내정보</a>
        </div>
    </header>
</body>

</html>