<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner>.item {
            height: 430px;
        }

        .margin {
            margin-bottom: 30px;
        }

        .banner {
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a:hover {
            text-decoration: none;
        }

        .center {
            text-align: center;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active item">
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-select" id="city" onchange="drawGra()">
                            <option value='서울'>서울</option>
                            <option value='경기'>경기</option>
                            <option value='부산'>부산</option>
                            <option value='대구'>대구</option>
                            <option value='인천'>인천</option>
                            <option value='경남'>경남</option>
                            <option value='충남'>충남</option>
                            <option value='경북'>경북</option>
                            <option value='대전'>대전</option>
                            <option value='강원'>강원</option>
                            <option value='충북'>충북</option>
                            <option value='울산'>울산</option>
                            <option value='광주'>광주</option>
                            <option value='전북'>전북</option>
                            <option value='전남'>전남</option>
                            <option value='제주'>제주</option>
                            <option value='세종'>세종</option>
                        </select>
                    </div>
                    <div class="col-md-3 p1">
                        <span><small>도시를 선택 하세요</small></span>
                    </div>
                </div>
                <div class="m-2" id="citytotal">누적 확진자 수 : </div>
                <div class="row">
                    <div class="col-xl-8" id="my_dataviz"></div>
                    <div class="col-xl-4">
                        <h3>최근 확진자수</h3>
                        <table class="table" id="covid-tb">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">일자</th>
                                <th scope="col">확진자수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>20211001</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>20210931</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>20210930</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>20210929</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>20210928</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>20210927</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>20210926</td>
                                <td>2400</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                http://openapi.q-net.or.kr/api/service/rest/InquiryStatSVC/getTotExamList?baseYY=2017&ServiceKey=SkQfvp71%2F%2FZKk9K%2BV%2FcmIJnE6i4gVLB7eSipxEZ1VBZHnDfCsfHm2U50AnScbZRI6OAMmiNyNRyEv3oign3FKw%3D%3D

                http://openapi.q-net.or.kr/api/
                일반인증키(인코딩)
                SkQfvp71%2F%2FZKk9K%2BV%2FcmIJnE6i4gVLB7eSipxEZ1VBZHnDfCsfHm2U50AnScbZRI6OAMmiNyNRyEv3oign3FKw%3D%3D
                일반인증키(디코딩)
                SkQfvp71//ZKk9K+V/cmIJnE6i4gVLB7eSipxEZ1VBZHnDfCsfHm2U50AnScbZRI6OAMmiNyNRyEv3oign3FKw==
            </div>
            <div class="carousel-item item">
                테스트
            </div>
        </div>
    </div>

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="150">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <!--                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>-->
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div
        th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                    aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}"
                    th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}"
                    aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

</div>
<th:block layout:fragment="script">
    <script>
        $('document').ready(function () {
            // set the dimensions and margins of the graph
            var margin = { top: 10, right: 30, bottom: 30, left: 50 },
                width = 920 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            //Read the data
            d3.csv("http://localhost/csv/indus.csv",

                // When reading the csv, I must format variables:
                function (d) {
                    return { date: d3.timeParse("%Y-%m-%d")(d.date), value: d.value }
                },

                // Now I can use this dataset:
                function (data) {

                    // Add X axis --> it is a date format
                    var x = d3.scaleTime()
                        .domain(d3.extent(data, function (d) { return d.date; }))
                        .range([0, width]);
                    svg.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                    // Add Y axis
                    var y = d3.scaleLinear()
                        .domain([0, d3.max(data, function (d) { return +d.value; })])
                        .range([height, 0]);
                    svg.append("g")
                        .call(d3.axisLeft(y));

                    // Add the area
                    svg.append("path")
                        .datum(data)
                        .attr("fill", "#cce5df")
                        .attr("stroke", "#69b3a2")
                        .attr("stroke-width", 1.5)
                        .attr("d", d3.area()
                            .x(function (d) { return x(d.date) })
                            .y0(y(0))
                            .y1(function (d) { return y(d.value) })
                        )

                    // Handmade legend
                    svg.append("circle").attr("cx", 600).attr("cy", 30).attr("r", 6).style("fill", "#69b3a2")
                    svg.append("text").attr("x", 620).attr("y", 30).text("variable A").style("font-size", "15px").attr("alignment-baseline", "middle")

                })
        });
    </script>
</th:block>